body {
  margin: 0;
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}

.attribution {
  font-size: 11px; text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

.attribution p {
  margin: 0
}

#container {
  display: flex;
  width: 600px;
  height: 450px;
  background-color: white;
  margin-top: auto;
  border-radius: 5%;
}

#container img {
  width: 300px;
  border-radius: 5% 0 0 5%;
}

#container #texts {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px
}

.caption {
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: .3rem;
  color: hsl(228, 12%, 48%);
}

.title {
  font-size: 33px;
  font-family: 'Fraunces', serif;
  font-weight: 700;
  margin: 0;
}

.description {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%)
}

.prices {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.price {
  font-family: 'Fraunces', serif;
  font-size: 30px;
  color: #3d8168;
}

.discount {
  text-align: center;
  font-size: 13px;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
  margin-left: 20px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #3d8168;
  color: white;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #1a4031;
  transition: .5s;
}

button svg {
  padding-right: 10px;
}

footer {
  margin-top: auto;
}